<div class="banner">
    <img src="banner-image-url.jpg" alt="Banner Image">
    <a routerLink="/inquiry" class="banner-button">Contact Us</a>
  </div>
  
  <div class="middle">
    <div class="image">
      <img src="image1-url.jpg" alt="Image 1">
      <p>Description 1</p>
    </div>
    <div class="image">
      <img src="image2-url.jpg" alt="Image 2">
      <p>Description 2</p>
    </div>
    <div class="image">
      <img src="image3-url.jpg" alt="Image 3">
      <p>Description 3</p>
    </div>
  </div>
  
  <div class="bottom-banner">
    <img src="bottom-banner-image-url.jpg" alt="Bottom Banner Image">
    <a routerLink="/about" class="about-button">About Us</a>
  </div>
  