<div class="container">
  <div class="header">
    For inquiries, please leave us a message!
  </div>
  <div class="inquiry-form">
    <form class="inquiry-form" #inquiryForm="ngForm" (ngSubmit)="submitForm(inquiryForm)">
      <div class="form-field">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="formData.name" name="name" required pattern="[A-Za-z\s]+" #nameInput="ngModel">
        <div class="error-message" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
          <span *ngIf="nameInput.errors?.['required']">This field is required.</span>
          <span *ngIf="nameInput.errors?.['pattern']">Special characters are not allowed.</span>
        </div>
      </div>
      
      <div class="form-field">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="formData.email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" #emailInput="ngModel">
        <div class="error-message" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          <span *ngIf="emailInput.errors?.['required']">This field is required.</span>
          <span *ngIf="emailInput.errors?.['email']">Email is invalid.</span>
        </div>
      </div>
      
      <div class="form-field">
        <label for="enquiry">Enquiry:</label>
        <textarea id="enquiry" [(ngModel)]="formData.enquiry" name="enquiry" required #enquiryInput="ngModel"></textarea>
        <div class="error-message" *ngIf="enquiryInput.invalid && (enquiryInput.dirty || enquiryInput.touched)">
          <span *ngIf="enquiryInput.errors?.['required']">This field is required.</span>
        </div>
      </div>
      
      <div class="success-message" *ngIf="isFormSubmitted">
        Your form has been successfully submitted!
        <button class="clear-button" *ngIf="isFormSubmitted" type="button" (click)="clearForm()">Submit again!</button>
      </div>
      
      <div class="button-container">
       
        <button *ngIf="!isFormSubmitted" type="submit" [disabled]="!inquiryForm.form.valid">{{ submitButtonText }}</button>
      </div>
    </form>
  </div>
</div>
