<div class="container">
  <div class="header">
    For inquiries, please leave us a message!
  </div>
  <div class="inquiry-form">
    <form class="inquiry-form" #inquiryForm="ngForm" (ngSubmit)="submitForm(inquiryForm)">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="formData.name" name="name" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="formData.email" name="email" required>
      
      <label for="enquiry">Enquiry:</label>
      <textarea id="enquiry" [(ngModel)]="formData.enquiry" name="enquiry" required></textarea> 
      <button type="submit" [disabled]="!inquiryForm.form.valid">Submit</button>
    </form>
  </div>
</div>


  
  
