.header {
    background-color: #66545e;
    color: #f6e0b5;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .header nav a {
    color: #f6e0b5;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer {
    background-color: #aa6f73;
    color: #f6e0b5;
    text-align: center;
    padding: 10px;
  }
  
  
  /* Add more styles as needed */
  